@page "/list"
@page "/list/{Type}"
@using Musical_WebStore_BlazorApp.Shared
@using Microsoft.AspNetCore.Blazor
@using System.IO;
@inject HttpClient Http
<h3 class="inst-title">Instruments</h3>

@if (instruments == null)
{
    <p><em>Loading instruments...</em></p>
}
else
{
    <AuthorizeView>
        <Authorized>
            @if (context.User.IsInRole("Admin") || true)
            {
                <a href="/goodsmanagement/addGood" class="btn btn-primary">Add a good...</a>
            }
        </Authorized>
    </AuthorizeView>

    <div class="row">     
        @foreach (var instrument in instruments)
        {
            <div class="col-md-4">
                <div class="card text-center">
                    <a href='instrument/@instrument.Id'>
                        <img href=# class="card-img-top" src="@instrument.Image" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@instrument.Title</h5>
                        <h5 class="card-text">Price: $@instrument.Price</h5>
                        <p class="card-text">@instrument.Description</p>
                        <p class="card-text">TYPE: @instrument.TypeName</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                        <AuthorizeView>
                            <Authorized>
                                @if (context.User.IsInRole("Admin") || true)
                                {
                                    <button class="btn btn-primary" @onclick="@(() => DeleteGood(@instrument.Id))">Delete</button>
                                    <a href="goodsmanagement/editGood/@instrument.Id" class="btn btn-primary">Edit</a>
                                }
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    List<Instrument> instruments;
    [Parameter]
    public string Type { get; set; }

    private void EditGood(int id)
    {

    }

    private void DeleteGood(int id)
    {
        
    }

    protected override async Task OnInitializedAsync()
    {
        instruments = await Http.GetJsonAsync<List<Instrument>>("api/Instruments");
        if (!String.IsNullOrWhiteSpace(Type))
        {
            instruments = instruments.Where(i => i.TypeName == Type).ToList();
        }
    }
}
